@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    &__cart {
      margin-top: 30px;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 50px;
      align-self: center;
    }

    h1 {
      color: #181818;
      font-family: 'Italiana', serif;
      font-size: 42px;
      letter-spacing: 2%;
      text-transform: uppercase;
    }

    p {
      font-family: 'Italiana', serif;
      font-size: 18px;
      font-weight: 800;
      color: $blue;
    }
  }
}
