.root {
  position: relative;
}

.input {
  border: 1px solid #4b398f;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  padding-left: 35px;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.7;
  width: 17px;
  height: 17px;
}

.icon_clear {
  position: absolute;
  cursor: pointer;
  top: 14px;
  left: 155px;
  opacity: 0.8;
  width: 12px;
  height: 12px;
  &:hover {
    opacity: 1;
  }
}
